            
    p,h1,h2,h3,a {
        color: rgb(238, 238, 238);
        font-family: Arial, Helvetica, sans-serif;
    }

    p {
        font-size: large;
        margin: 5px 1px;
    }

    h1, h3 {
        text-align: center;
        padding: 0px 0%;
        margin: 0px 0px;
    }

    a {
        font-size: larger;
    }

    a.link {
        color: rgb(255, 255, 255)
    }

    a.link:hover {
        color: rgb(38, 38, 38)
    }

    
/*----------------------*/
/*------- Blocks -------*/
/*----------------------*/
    div.textblock {
        width: 80%;
        max-width: 1100px;
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 15px 30px;
        margin-bottom: 0px;
        background: linear-gradient(140deg, #b6b6b6 0%, rgba(0, 0, 0, 0.9) 100%);
        background-attachment: fixed;
        background-size: 175% 175%;
        animation: gradient 10s ease-in-out infinite;
        transition: 2s;  
        -webkit-transition: transform 2s  
       }

    @keyframes gradient {
        0% {
            background-position: 0% 100%;
        }
        50% {
            background-position: 100% 100%;
        }
        100% {
            background-position: 0% 100%;
        }
    }
/*----------------------*/
/*----- Background -----*/
/*----------------------*/
    body {
        background-image: url(XMedia/Other/Background05.png);
        background-attachment: fixed;
        background-size: 2500px;
        background-position-y: 1500px;
        transition-duration: 1s;
        animation: pixels infinite;
        animation-duration: 90s;
        animation-timing-function: linear;
       }

    @keyframes pixels {
        0% {
            background-position-x: 0%;
            background-position-y: 1500px;
        }

        50% {
            background-position-x: 100%;
        }

        100% {
            background-position-x: 0%;
        }
    }

/*-----------------------*/
/*--- Images & Videos ---*/
/*-----------------------*/
    img {
        margin: 10px 20px;
        object-fit: inherit;
        overflow: hidden;
        border-radius: 10px;
    }

    img.coverlink {
        width: 100%;
        height: 100%;
        margin: 20px 10px;
        max-width: 160px;
        max-height: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.678);
        border-radius: 1px;
        transition: 0.3s;
        opacity: 0.7;
    }
            
    img.coverlink:hover {
        box-shadow: 0px 8px 16px 0px rgb(255, 255, 255);
        border-radius: 25px;
        opacity: 1
    }

    video{
        width: 100%;
        height: 100%;
        border-radius: 25px;
        max-width: 320px;
        max-height: 180px;
        margin: 10px 20px;
        object-fit: inherit;
        overflow: hidden;
        cursor: pointer;
    }

/*---------------------*/
/*------ Buttons ------*/
/*---------------------*/
    button {
        width: 400px;
        height: auto;
        margin: 10px 25px;
        border: none;
        float: left;
        color: rgb(255, 255, 255);
        padding: 20px 20px;
        text-align: left;
        font-size: 35px;
        font-weight: 700;
        background: linear-gradient(130deg, rgb(151, 151, 151) 0%, rgba(0, 0, 0, 0) 50%);
        transition: 0.3s;
    }

    button:hover {                
        padding: 20px 35px;
        background-color: rgb(39, 39, 39);
        cursor: pointer;
    }

/*----------------------*/
/*--- Navigation Bar ---*/
/*----------------------*/
    div.navbar {
        display: flex;
        justify-content: center;
    }
           
    ul {
        display: flex;
        list-style-type: none;
        padding: 0;
        background: linear-gradient(130deg, rgb(173, 173, 173) 0%, rgba(94, 94, 94, 0.8) 100%);
        position: static;
        width:max-content;
    }

    li {
        transition: 0.5s;
    }

    li a, .dropbtn {
        display: inline-block;
        text-align: center;
        padding: 10px 40px;
        text-decoration: none;
    }

    li:hover, .dropdown:hover .dropbtn {
        background-color: rgba(37, 37, 37, 0.5);
    }

    li.dropdown {
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background: linear-gradient(324deg, rgb(137, 137, 137) 0%, rgba(0,0,0,1) 200%);
        min-width: 100px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.638);
        z-index: 1;
    }

    .dropdown-content a {
        display: block;
        color: rgb(255, 255, 255);
        padding: 12px 16px;
        text-decoration: none;
        text-align: left;
        transition: 0.3s;
    }

    .dropdown-content a:hover {
        background-color: rgba(37, 37, 37, 0.5);      
    }

    .dropdown:hover .dropdown-content {
        display: block;
        transition: 0.3s;
    }